.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.video {
  max-width: 100%;
  height: auto;
  transform: scaleX(-1);
  height: 95%;
  object-fit: cover;
}

.attendance_webcam {
  width: 100%;
  height: 100%;
}

.custom_ProgressBar {
  margin: 0px 10px;
}
